.field {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.field:hover {
  border: 1px dashed #ccc;
  background: #f9f9f9;
}

.field :global * {
  pointer-events: none;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.fieldType {
  margin-right: .5em;
  opacity: .5;
}

.fieldTitle {
  font-weight: 600;
}

.input {
  padding: 5px;
}